<footer class="l-footer">
    <p>© 2020 Profile</p>
</footer>

<script src="/public/js/main.js"></script>
<% if(page.bodyClass=='home' ){ %>
    <script src="/public/js/home.js"></script>
    <% } %>
        </body>

        </html>
