<% const header={ logoLink: "#" , logoSrc: "/public/images/logo.svg" , navItems: [ { href: "#about" , text: "About" }, {
    href: "#bicycle" , text: "Bicycle" } ] } %>
    <header class="l-header l-wrapper">
        <h1 class="l-header__title">
            <a class="l-header-link" href="<%= header.logoLink %>">
                <img class="l-header__img" src="<%= header.logoSrc %>" alt="Profile">
            </a>
        </h1>
        <nav class="l-nav">
            <ul class="l-nav-list">
                <% header.navItems.forEach(function(item) { %>
                    <li class="l-nav-list__item">
                        <a class="l-nav-list__link" href="<%= item.href %>">
                            <%= item.text %>
                        </a>
                    </li>
                    <% }); %>
            </ul>
        </nav>
    </header>
